* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0;
  display:block
}


.content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/assets/bg2.jpg) no-repeat center center fixed;
  background-size: cover;
}

 .niidea {
  top: 50%;
  transform: translate(0, -50%);
  margin: 20px;
  text-align: center;
  position: relative;
} 


.title {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.text {
  color: white;

}

#button {

  border: 1px;
  /* padding: 15px 30px;
  margin-right: 15px;
  margin-bottom: 10px; */
  background-color: #F24B4B;
  border-radius: 15px;
}




.btn {
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 40px;
  padding: 15px 30px;
  margin-right: 15px;
  margin-bottom: 10px;
  color: #F27166;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  color: #e2e2e2;
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 578px) {
  .title {
    font-size: 40px;
  }
  .text {
    font-size:15px ;
  }
}